<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "{% if page.layout == 'tech_news_article' %}NewsArticle{% else %}Article{% endif %}",
  "headline": "{{ page.title | escape }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.last_modified_at %}
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  {% else %}
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.avatar }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "discussionUrl": "{{ site.url }}{{ page.url }}#discussion"
}
</script>
