{{ define "main" }}
<article class="page">
  <h1>{{ .Title }}</h1>
  <div id="archives">
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <div class="archive-group">
      <div id="#{{ $key | urlize }}"></div>
      <h3 class="category-head">{{ $key }}</h3>
      <a name="{{ $key | urlize }}"></a>
      {{ range $value.Pages.ByDate.Reverse }}
      <article class="archive-item">
        <h4>
          <a href="{{ .RelPermalink }}">
            {{ if .Title }}{{ .Title }}{{ else }}{{ .Summary | plainify | truncate 60 }}{{ end }}
          </a>
          ({{ .Date.Format "2.1.2006" }})
        </h4>
      </article>
      {{ end }}
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
