<footer class="site-footer">
  <div class="footer-compact">

    <div class="footer-top">
      <div class="social-icons">
        {{ with .Site.Params.footer.email }}
        <a href="mailto:{{ . }}" title="Email" aria-label="Email">
          <i class="svg-icon email"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.footer.facebook }}
        <a href="https://www.facebook.com/{{ . }}" title="Facebook" aria-label="Facebook">
          <i class="svg-icon facebook"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.footer.twitter }}
        <a href="https://www.twitter.com/{{ . }}" title="X / Twitter" aria-label="X / Twitter">
          <i class="svg-icon twitter"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.footer.linkedin }}
        <a href="https://www.linkedin.com/in/{{ . }}" title="LinkedIn" aria-label="LinkedIn">
          <i class="svg-icon linkedin"></i>
        </a>
        {{ end }}
        {{ if .Site.Params.footer.rss }}
        <a href="/feed.xml" title="RSS Feed" aria-label="RSS Feed">
          <i class="svg-icon rss"></i>
        </a>
        {{ end }}
      </div>
      <div class="copyright">
        &copy; {{ now.Format "2006" }} {{ .Site.Params.author }}
      </div>
    </div>

    <div class="footer-links">
      <div class="footer-col">
        <span class="footer-col-title">Projekty</span>
        <a href="https://www.marigold.cz">Marigold.cz</a>
        <a href="https://www.vibecoding.cz">VibeCoding.cz</a>
        <a href="https://www.aivefirmach.cz">AI ve firmach</a>
        <a href="https://www.topflix.cz">TopFlix.cz</a>
        <a href="https://www.3gpp-explorer.com/">3GPP Explorer</a>
        <a href="https://www.zitraslavni.cz">Zitraslavni.cz</a>
      </div>
      <div class="footer-col">
        <span class="footer-col-title">Dalsi</span>
        <a href="https://www.vibecoding.cz/workshopy/">Workshopy Claude Code</a>
        <a href="https://zandl.substack.com">Newsletter</a>
        <a href="https://www.mailpromo.cz/">Reklama v newsletteru</a>
        <a href="https://www.kronium.eu">Kronium.eu</a>
        <a href="https://www.vybavenidoprirody.com/">Vybaveni do prirody</a>
        <a href="/changelog/">Changelog</a>
      </div>
    </div>

    <div class="footer-bottom">
      <a href="https://github.com/tangero/marigold-page">
        <img src="https://img.shields.io/github/last-commit/tangero/marigold-page" alt="GitHub Last Commit" loading="lazy" />
      </a>
    </div>

  </div>
</footer>
