<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link href="https://fed.brid.gy/" rel="alternate" type="application/activity+json">

{{ with .Description }}
<meta property="og:description" content="{{ . }}" />
{{ else }}
<meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end }}
<meta name="author" content="{{ .Site.Params.author }}" />

{{ with .Title }}
<meta property="og:title" content="{{ . }}" />
<meta property="twitter:title" content="{{ . }}" />
{{ end }}

{{ partial "og-image.html" . }}

<meta property="og:site_name" content="Marigold.cz | Technologie a Spolecnost"/>
