---
layout: default
---

<!-- start feedwind code --> 
<script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Nahr%C3%A1v%C3%A1m" data-fw-param="168257/"></script>
<!-- end feedwind code -->

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  {% if page.categories contains "AI" %}
  <div class="posts">
    <blockquote>
      <p>💡 Firemní <a href="https://www.aivefirmach.cz/">workshopy o umělé inteligenci</a> - pojďme se zamyslet nad tím, jak se vaší firmy dotkne AI a jak se na to připravit!</p>
    </blockquote>
  </div>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  {% if page.collection == 'ai' and page.layout == 'post' %}
  <div class="ai-rubric-link">
    <blockquote> 
    ⚡️ <a href="/ai/">Pokračujte do rubriky AI</a>
    </blockquote>
  </div>
  {% elsif page.collection == 'obrazy' and page.layout == 'post' %}
  <div class="ai-rubric-link">
    <blockquote> 
    ⚡️ <a href="/obrazy/">Další obrazy zde...</a><br>
    <p class="author_title">Autor: {{ site.author }}  · Datum vydání: {{ page.date | date: "%-d.%-m.%Y" }}</p>
    

{% if page.path %}

      <a href="{{ site.github_repo }}/blob/main/{{ page.path }}" target="_blank">
        Opravit 📃
      </a>
    
{% endif %}
</p>
    </blockquote>
    
    <!-- Přidání tabulky s obrazy ve stejném stylu a období -->
    
<!-- Debugging related posts assignment -->
<p>Debug: Assigning related posts for obrazy collection with similar style and time period</p>
{% assign related_posts = site.obrazy | where: "styl", page.styl | where_exp: "post", "post.namalovano >= (page.namalovano | minus: 12) and post.namalovano <= (page.namalovano | plus: 12)" | where_exp: "post", "post.url != page.url" | limit: 4 %}
    
<!-- Debugging related posts size -->
<p>Debug: Found {{ related_posts.size }} related posts</p>
{% if related_posts.size > 0 %}
    <div class="related-posts">
      <h3>Podobné obrazy:</h3>
      <table>
        <thead>
          <tr>
            <th>Autor</th>
            <th>Obraz</th>
            <th>Obrázek</th>
          </tr>
        </thead>
        <tbody>
          
<!-- Debugging related posts loop -->
<p>Debug: Iterating over related posts</p>
{% for post in related_posts %}
          <tr>
            <td>{{ post.autor }}</td>
            <td><a href="{{ post.url }}">{{ post.obraz }}</a></td>
            <td><img src="{{ post.urlobrazu }}" alt="{{ post.obraz }}" style="width:100px;"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  {% endif %}  

  {% if page.layout == 'post' %}
  <div class="commentbox"></div>
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  <script>commentBox('5677112761516032-proj')</script>
  {% endif %}

  {% if page.categories contains "Mobilní sítě" or page.categories contains "3G" or page.categories contains "4G" or page.categories contains "5G" or page.categories contains "5G Advanced" %}
  <div class="posts">
    <blockquote>
      <p>🗼 Pokračujte dále na <a href="/mobilnisite/">Seriál Mobilní sítě</a></p>
    </blockquote>
  </div>
  {% elsif page.categories contains "AI" %}
  <div class="posts">
    <blockquote>
      <p>💡 Firemní <a href="https://www.aivefirmach.cz/">workshopy o umělé inteligenci</a> - pojďme se zamyslet nad tím, jak se vaší firmy dotkne AI a jak se na to připravit!</p>
    </blockquote>
  </div>
  {% endif %}

  <!-- Tady začíná odkazování na featured články -->
  {% assign featured_posts = site.posts | where: "featured", true | where_exp: "post", "post.url != page.url" %}
  {% if featured_posts.size > 0 %}
    {% assign shuffled_posts = featured_posts | sort: 'date' | sample: featured_posts.size %}
    <div class="featured-posts">
      <h3>💡 Co je tu dalšího zajímavého ke čtení?</h3>
      <table>
        <tbody>
          {% for post in shuffled_posts limit:2 %}
            <tr>
              <td>
                <a href="{{ post.url }}">👉{{ post.title }}</a>
                <p class="excerpt">
                  {% if post.content contains '<!-- more -->' %}
                    {{ post.content | split:'<!-- more -->' | first | strip_html | truncate: 160 }}
                  {% else %}
                    {{ post.content | strip_html | truncate: 160 }}
                  {% endif %}
                </p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}  

  <div class="posts">
    <h3>Chcete tyto články emailem?</h3>
    <iframe src="https://zandl.substack.com/embed" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>

  <div>
    <p><span class="share-box">Sdílejte článek:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a>, 

    {% if page.path %}
      <a href="{{ site.github_repo }}/blob/main/{{ page.path }}" target="_blank">
        Opravit 📃
      </a>
    {% endif %}
</p>
    <p>
    <div class="PageNavigation">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> |
      {% endif %}
      
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
    </p>
  </div>
</article>